<nav>
    <a class="logo" href="#">NPR Music News Scraper</a>
    <div class="navLinks">
        <a href="#">Home</a>
        <a href="#">Saved Articles</a>
    </div>
    <button id="scrape" class="scrape">Get New Articles</button>
</nav>