<nav>
    <img class="logo" src="assets/img/NPRLogo.png" alt="logo" />
    <div class="navLinks">
        <a href="/">Home</a>
        <a href="/articles">Saved Articles</a>
    </div>
    <button id="scrape" class="scrape">Get New Articles</button>
</nav>