<div class="modal note">
    <div class="modalWindow">
        <div class="modalContent">
            <form>
                <label>Note:</label>
                <textarea id="text"></textarea>
                <button id="noteSubmit">Add Note</button>
            </form>
        </div>
    </div>
</div>