<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>News Scraper</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<nav class="navbar ">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="/assets/img/nprlogo.png" alt="NPR Logo">
        </div>
        <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="home navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/saved">
                Saved Articles
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary" href="/scrape">
                            <span class="icon">
                                <i class="fa fa-download"></i>
                            </span>
                            <span>Get New Articles</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    {{{body}}}
</body>

</html>