<div class="wrapper">
    <section class="feature">
        <div class="featureContent">
            <h1>NPR Music News Scraper</h1>
            <span class="featureImage"></span>
        </div>
    </section>
    <div class="getArticles">
        <button id="featureScraper">Scrape News Articles</button>
    </div>
    <section class="featuredArticles">
        <h2>Saved Articles</h2>
        <ul>
            {{#each articles}}
            <li></li>
            {{/each}}
        </ul>
    </section>

</div>