<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <div class="box dropdown is-pulled-right">
                <ul>
                    <li><a id="home" class="navbar-item" href="/">Home</a></li>
                    <li><a class="navbar-item" href="/saved">Saved Articles</a></li>
                    <li><a class="button is-primary navbar-item" href="/scrape">Get New Articles</a></li>
                </ul>
            </div>
            <h1 id="hero-title" class="title">
                News Scraper
            </h1>
            <h2 class="subtitle">
                NPR News
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Article Results</h1>
        <div id="scrape-results"></div>
    </div>
</section>



<script src="/assets/js/index.js"></script>